*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

ul,
ul li a {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  height: 30px;
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  text-align: center;
}

header {
  padding-top: 30px;
}

main {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-right: none;
  text-align: left;
}

.inputContainer-content:first-child {
  margin-bottom: 20px;
}

.inputContainer .numBtn,
.inputContainer .clearBtn {
  background-color: burlywood;
  height: 30px;
}

.inputContainer .numInput {
  height: 30px;
  border: 1px solid #0c0c0c;
}

.container {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .square {
  border: 1px solid #0c0c0c;
}
